*{
    padding: 0;margin: 0; box-sizing: border-box;
}
.card{
    background-color: #162541;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    margin: 1rem;
    border-radius: 10px;
   width: 18rem;
   height: 28rem;
    transition: transform 1s;
    
}
.img--part{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img--part span{
    color: #162541;
    height:22rem ;
margin-bottom: 10px;
   font-family: monospace;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: end;
    justify-content: space-around;
    opacity: 0 ;
    background-color: #162541;
    overflow: hidden;
    border-radius: 10px;
    transition: opacity 1s linear;
}
.img--part span:hover{
 opacity: 0.8; 
   transition: opacity 400ms linear;
}
.card img{
    padding: 3rem;
    margin-bottom: 0.7rem;
    width: 20rem;
    height: 22rem;
    border-radius: 10px;
}
.project--description{
text-align: center;
    color: aliceblue;
}
.project--description a{
 
    padding: 0.7rem;
    font-size: 2rem;
}

.details{
    position: fixed;
    background-color: #162541;
   width: 15rem;
   margin: -25rem -7.3rem;
   color: white;
   text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  

}
.card:hover{
    transform: scale(0.9);
    transition: transform 1s;
}
.blog-card{
  
   height: 32rem;
   width: 100%;
}
.LOREM{
    padding: 2rem;
}

@media screen and (max-width:800px) {
    .card{
       padding: 1rem;
        margin: 0rem;
    }
}