* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Header--div{
background-color: #f66030;
    scroll-behavior: smooth;
    background-color: #162541;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   padding: 5rem;
   width: 100vw;
}
.paragraph--div{
width: 150%;

overflow: hidden;
margin-bottom: -8rem;
    padding: 2rem;
    color: #f66030;
    font-family: monospace;
    font-size: 1.5rem;
    box-shadow: #f66030 0px 0px 0px 2px inset, #162541 10px -10px 0px -3px, rgb(0, 255, 127 ) 10px -10px;

}
.paragraph--div span{
    text-align: center;
}
.extra{
    display: none;
    margin-top: 4rem;
padding: 2rem;
width: 40%;
position: absolute;
    color: #162541;
    line-height: 30px;
    font-family: monospace;
    font-size: 1rem;
    letter-spacing: 3px;
    background-color: springgreen;
    box-shadow: #f66030  0px 0px 0px 2px inset, #162541 10px -10px 0px -3px,  springgreen 10px -10px;
}
.extra:hover{
    color: whitesmoke;
    background-color:#162541 ;
}
.name{
    color: white;
}
.paragraph--div .hey{
    color: springgreen;
    font-size: 3rem;
}

.myimage{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    padding: 1rem;
    /* width: 90vw; */
    height: 100vh;
   
}
.myimage img{
    box-shadow: rgba(0, 255, 128, 0.474) 0px 2px 4px, rgba(0, 255, 128, 0.386) 0px 2px 13px -3px, rgba(0, 255, 128, 0.401) 0px -1px 0px inset;
    transition: box-shadow 500ms;
    width:80vw ;
    border: springgreen 2px solid;
    filter: blur(1px);
}


.myimage img:hover{
box-shadow: rgba(0, 255, 128, 0.323) 0px 10px 10px 4px;
transition: box-shadow 500ms;
filter: blur(0px);
}

@media screen and (min-width:800px) {
    .Header--div {
        
        margin-top: -7rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
    }

    .paragraph--div {
        margin: 4rem;
        width: 50%;
        padding: 2rem;
    }

    .myimage {
        height: 40rem;
        width: 40%;
    }

    .myimage img {
        width: 25rem;

    }

    .extra {
        display: block;
    }
}