@media screen and (min-width:800px) {
    .Header--div{
        padding: 5rem;
        margin-top: -7rem;
        display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 103vh;
    }
        .paragraph--div{
            margin: 4rem;
            width: 50%;
        }
    .myimage{
        height:40rem ;
        width: 40%;
    }
    .myimage img{
        width: 25rem;
        
    }
    .extra{
        display: block;
    }
}

