*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
   
    box-shadow: rgba(0, 255, 127, 0.45) 0px 25px 20px -20px;
    color: springgreen;
    display: flex;
    align-items: center;
    justify-content: space-around;
background-color: #162541;
overflow-x: hidden;
width: 100vw;

}
.nav--logo{

margin: 3rem;
    font-size: 2rem;
    letter-spacing: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


 ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
 }
 nav  li{
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
    list-style: none;
    transition: transform 1s;
    letter-spacing: 5px;
 }
li:hover{
    background-color: #1f3255;
    cursor: pointer;
box-shadow: rgba(184, 80, 80, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
transform: translateY(0.5rem);
transition: transform 1s;
color: aliceblue;

}



.bars {
   
    
   
    display: none;
}


@media screen and (max-width: 800px) {

    ul{
       
        color: springgreen;
        position: fixed;
        flex-direction: column;
    background-color: #162541;
        width: 100%;
        top: 4%;
       transform: translateY(-100vh);
        right: 0%;
        overflow: hidden;
        transition: transform 550ms;
       
    }
          /* ulli {
              margin-top: 4rem;
          } */
    .active {
        color: springgreen;
        position: absolute;
        flex-direction: column;
    background-color: #162541;
        width: 100%;
        top: 12%;
    
        overflow: hidden;
        transform: translateY(0vh);
        transition: transform 700ms;
    }
  
    .bars-rotate{
        position: absolute;
        transform: rotate(-90deg);
        top: 1rem;
        right: 3.3rem;
    }
    .bars{
        color: springgreen;
        font-size: 2rem;
        display: block;
       margin: 2rem;
    }
}



















