*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

.portfolio{
   
    background-color: springgreen;
    color: #162541;
    display: flex;
    flex-direction: column;
    align-items: center; 
     justify-content: center; 
    font-family: monospace;
   
    width: 100vw;

            position: relative;
            overflow: hidden;
            padding: 26px;

}

.cards{
    display: flex;
    padding-left: 25rem;
}

.part--1{
    text-align: center;
}
.part--1 p{
    color: blueviolet;
}
.carousals{
    background-color: rgb(219, 45, 45);
    padding:  10px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        scroll-behavior: smooth;
}

.caro{
   margin-top: 2rem;
   padding-left: 5rem;
padding-right: 5rem;
}


   


.slick-initialized .slick-slide {
    padding: 0.5rem;
}

@media screen and (max-width:800px) {
    .slick-initialized .slick-slide {
            padding: 0rem;
        }
                .caro {
                    margin-top: 2rem;
                    padding-left: 0.7rem;
                    padding-right: 0.7rem;
                }
    
}