*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

.product-carousel{
  
  font-family: monospace;
 width: 100vw;


}
.product-carousel > h1{
    color: rgb(0, 0, 0);
    font-size: 3rem;
}
.product-carousel > span{
    color: rgb(63, 130, 188);
}

.cards{
    display: flex;
    padding-left: 25rem;
}

.part--1{
    text-align: center;
}

.carousals{
    background-color: rgb(219, 45, 45);
    padding:  1px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        scroll-behavior: smooth;
}

.caro{
   margin-top: 2rem;
   padding-left: 5rem;
padding-right: 5rem;
}


   


.slick-initialized .slick-slide {
    padding: 0.5rem;
}

@media screen and (max-width:800px) {
    .slick-initialized .slick-slide {
            padding: 0rem;
            
        }
                .caro {
                    margin-top: 2rem;
                    padding-left: 0.7rem;
                    padding-right: 0.7rem;
                    background-color: springgreen;
                }
    
}