*{
    -webkit-tap-highlight-color: transparent;
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
.skills{
    -webkit-tap-highlight-color: transparent;
    width: 100vw;
    text-align: center;
    font-family: monospace;
background-color: #162541;
    text-align: center;
   
    overflow-x: hidden;
   
    
}
.skills > h1{
    color: white;
    font-size: 3rem;
    padding-top: 1rem;
}
.skills > span{
    color: whitesmoke;
}
.slider-slikk{
    -webkit-tap-highlight-color: transparent;
    border-radius: 10px;
display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.227) 0px -12px 30px, rgba(0, 0, 0, 0.227) 0px 4px 6px, rgba(0, 0, 0, 0.211) 0px 12px 13px, rgba(0, 0, 0, 0.205) 0px -3px 5px;
    margin: 5rem auto;
    width: 80rem;
    height: 8rem;
   
}
.slider-slikk  img{
-webkit-tap-highlight-color: transparent;
   padding: 1rem;
    margin-top: 4rem;
   
    margin-bottom: 4rem;
    width: 7rem;
    height: 7rem;
    border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
@media screen and (max-width:800px) {
  .slider-slikk{
    -webkit-tap-highlight-color: transparent;
    margin: 1.8rem auto;
  }

}
