*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
.skills{
    width: 100vw;
    text-align: center;
    font-family: monospace;
    background-color: #f66030;
    text-align: center;
    height: 50vh;
    overflow-x: hidden;
    
}
.skills > h1{
    padding-top: 1rem;
}
.slider-slikk{
    border-radius: 10px;
display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.227) 0px -12px 30px, rgba(0, 0, 0, 0.227) 0px 4px 6px, rgba(0, 0, 0, 0.211) 0px 12px 13px, rgba(0, 0, 0, 0.485) 0px -3px 5px;
    margin: 5rem auto;
    width: 80rem;
    height: 8rem;
    /* margin-bottom: 3rem; */
}
.slider-slikk  img{
   
   padding: 1rem;
    margin-top: 4rem;
   
    margin-bottom: 4rem;
    width: 7rem;
    height: 7rem;
    border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
